.category_item_container {
  padding: 30px 0;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
}
.category_item {
  margin: 0px 15px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 10px;
}
